
name: Test Station

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
      - "version1"

permissions:
  contents: write

jobs:
  run_test:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install package
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .
    
    - name: Test notebooks
      run: |
        python -m pytest --nbmake ./drivers_test_notebooks/srs830_test_notebook.ipynb
    # - name: Archive test results
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: driver_tests
    #     path: qick_demos/*.ipynb
